<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Order</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="product-header">
                Thông tin người nhận
            </h2>

            <form action="">
                <div class="mb-3">
                    <label for="name" class="form-label">Họ và tên</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>

                <div class="mb-3">
                    <label for="name" class="form-label">Địa chỉ</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>

                <div class="mb-3">
                    <label for="name" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <h2 class="product-order">
                Thông tin đơn hàng
            </h2>

            <table>
                <thead>
                    <tr>
                        <th scope="col" class="text-start">Sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Thành tiền</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <div class="product-info">
                                <img src="https://images.pexels.com/photos/1006293/pexels-photo-1006293.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    alt="" class="product-img">
                                <span class="product-name">Product 1</span>

                            </div>
                        </td>
                        <td>2</td>
                        <td>100.000</td>
                        <td>200.000</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="product-info">
                                <img src="https://images.pexels.com/photos/1006293/pexels-photo-1006293.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    alt="" class="product-img">
                                <span class="product-name">Product 2</span>

                            </div>
                        </td>
                        <td>1</td>
                        <td>200.000</td>
                        <td>200.000</td>
                    </tr>

                    <tr>
                        <td>
                            <div class="product-info">
                                <img src="https://images.pexels.com/photos/1006293/pexels-photo-1006293.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    alt="" class="product-img">
                                <span class="product-name">Product 3</span>

                            </div>
                        </td>
                        <td>3</td>
                        <td>300.000</td>
                        <td>900.000</td>
                    </tr>
                </tbody>
            </table>

            <div class="text-start mt-3">
                <h5 class="header-text text-end">Tổng giá: 1.300.000</h5>
            </div>

            <div class="mt-3">
                <h4 class="product-header">Nhập coupon</h4>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nhập coupon">
                    <button class="btn btn-gradient" type="button">Áp dụng</button>
                </div>
            </div>

            <div class="text-start mt-3">
                <button class="btn btn-gradient" type="button">Đặt hàng</button>
            </div>


        </div>


    </div>
</div>

<app-footer></app-footer>